:root {
  --max-width: 1600px;
  --border-radius: 12px;
  --border-radus-l: 30px;
  --border-radius-s: 8px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-size-content: 1.3rem; /* размер шрифта в основной части страницы */
  --font-size-secondary: 0.9rem; /* размер шрифта для второстепенного текста (например доп информация или тип того) */
  --accent-rgb: 58, 41, 156;
  --accent-rgba: 58, 41, 156, 0.4; /* основной цвет чтоб выделять активные элементы (например подсветка активного инпута могла бы быть такой */
  --access-rgba: 50, 150, 50, 0.2; /* зеленый */
  --danger-rgba: 158, 50, 95, 0.2; /* красный */
  --access-rgb: 50, 150, 50; /* зеленый */
  --danger-rgb: 158, 50, 95; /* красный */
  --foreground-rgb: 0, 0, 0; /* цвет обычного текста */
  --foreground-rgba: 0, 0, 0, 0.6; /* цвет второстепенного текста */
  --background-start-rgb: 224, 229, 230;
  --background-end-rgb: 245, 245, 245;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgb(250, 244, 244), rgba(255, 255, 255, 0));

  --border-rgb: 172, 175, 176;

  --callout-rgba: 238, 240, 241, 0.6;
  --callout-border-rgba: 172, 175, 176, 0.5;
  --card-rgb: 200, 205, 208;
  --card-border-rgb: 131, 134, 135;
  --foreground-rgb: 241, 241, 241;
  --foreground-rgba: 241, 241, 241, 0.6;
  --background-end-rgb: 10, 10, 10;
  --background-start-rgb: 10, 10, 10;
  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.11), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0.06)
  );

  --border-rgb: 66, 66, 66;

  --callout-rgba: 20, 20, 20, 0.6;
  --callout-border-rgba: 108, 108, 108, 0.5;
  --card-rgb: 50, 50, 50;
  --card-border-rgb: 200, 200, 200;
  --accent-rgb: 85, 67, 187;
  --accent-rgba: 85, 67, 187, 0.6;
}

.svg_container > img {
  filter: opacity(0.9);
}

@media (prefers-color-scheme: dark) {
  .svg_container > img {
    filter: invert(100%) sepia(0%) saturate(4016%) hue-rotate(294deg) brightness(115%) contrast(89%) opacity(0.9);
  }

  :root {
    --foreground-rgb: 241, 241, 241;
    --foreground-rgba: 241, 241, 241, 0.6;
    --background-end-rgb: 10, 10, 10;
    --background-start-rgb: 10, 10, 10;
    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.11), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.06)
    );

    --border-rgb: 66, 66, 66;

    --callout-rgba: 20, 20, 20, 0.6;
    --callout-border-rgba: 108, 108, 108, 0.5;
    --card-rgb: 50, 50, 50;
    --card-border-rgb: 200, 200, 200;
    --accent-rgb: 85, 67, 187;
    --accent-rgba: 85, 67, 187, 0.6;
  }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

* {
  cursor: default;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

img {
  pointer-events: none;
}

.app {
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.main-container {
  min-height: 100%;
}

@media screen and (min-width: 767px) {
  .main-container {
    margin-left: 80px;
  }
}

main {
  flex: 1;
  width: 100%;
  min-height: 100%;
  padding: 0 calc(10px + 1vw);
}

a,
a *,
button,
button *,
input,
input *,
label,
label * {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

hr {
  color: rgb(var(--border-rgb));
  opacity: 0.2;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--callout-rgba));
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card:hover {
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*  TEXT  */

p {
  font-size: var(--font-size-content);
  text-align: justify;
}

p.subtext {
  color: rgba(var(--foreground-rgba));
  font-size: var(--font-size-secondary);
}

.trim-text,
.trim-text * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*  INPUT FIELD  */
.input-container {
  margin-top: 16px;
  position: relative;
  font-family: inherit;
}

.input-container label {
  color: rgb(var(--foreground-rgba));
  font-family: var(--font-mono);
  position: absolute;
  margin-left: 4px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2px;
  transition: 0.2s;
}

.input-container input,
.input-container textarea {
  width: 100%;
  font-family: var(--font-mono);
  border: 1px solid rgba(var(--callout-border-rgba));
  border-radius: var(--border-radius-s);
  background-color: rgba(var(--callout-rgba));
  padding: 5px;
}

.input-container input:focus,
.input-container textarea:focus {
  outline: none;
}

.input-container input:focus + label,
.input-container textarea:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-100%);
  font-size: var(--font-size-secondary);
}

.input-container input:focus + label,
.input-container textarea:focus + label {
  color: rgb(var(--accent-rgb));
}
.input-container input:focus,
.input-container textarea:focus {
  border-color: rgb(var(--accent-rgb));
}

input.error,
textarea.error {
  border: 1px solid rgb(var(--danger-rgb));
}

/*  BUTTONS  */

.btn {
  font-family: var(--font-mono);
  padding: 10px;
  font-size: var(--font-size-content);
  border-radius: var(--border-radius-s);
  border: 1px solid rgba(var(--callout-border-rgba));
  background-color: rgba(var(--callout-rgba));
  transition: all 0.3s ease;
}

.btn.access:hover {
  border: 1px solid rgb(var(--access-rgb));
  background-color: rgba(var(--access-rgba));
}

.btn.danger:hover {
  border: 1px solid rgb(var(--danger-rgb));
  background-color: rgba(var(--danger-rgba));
}

.btn.accent:hover {
  background-color: rgba(var(--accent-rgba));
}